// Colors for buttons


    @each $theme,$color in $buttons-colors {
       .btn.#{$theme} {
            background-color: $color;
            &:hover {
                background: lighten($color, $amount: 15%);
              }
        }
    }


// Colors for Grid theme col

    @each $i, $color in $theme-colors {
        .theme.#{$i} {
            background-color: $color;
        }
    }

    




