// Descriptive color variables
$white          : #fff;
$black          : #000;
$boulder        : #777;
$silver         : #ccc;
$viking         : #58e1c1;
$malibu         : #51ddfc;

// Functional color variables

$color-button-default     : $malibu;
$color-text-base          : $boulder;

// Font variables 

$font-stack : 'Lato', sans-serif;

// Link styles

$a-decoration: none;

// Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;

// Theme colors

$themes: (
    'default': $color-button-default,
    'error'  : #e4757a,
    'info'   : #927bc1,
    'success': #63cc82,
    'warning': #fd7856,
);